.main-links-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.main-link {
    width: 150px;
    border: 2px solid rgb(78, 15, 142);
    padding: 5px;
    background-color: rgb(217, 191, 241);
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}