.search-form {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
    height: 20%;
    z-index: 100;
}

.search-form__input {
    width: 40vw;
    border: 3px solid rgb(63, 5, 5);
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
}

.search-form__button {
    width: 100px;
    border: 3px solid rgb(63, 5, 5);
    background-color: rgb(230, 147, 147);
    font-size: 18px;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-weight: 500;
    cursor: pointer;
}

.search-form__button:hover {
    background-color: red;
    transition: .5s;
    border-color: #3e0447;
}