.loading {
  font-size: 35px;
  color: red;
  z-index: 100;
}

.searchSection {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.resultsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}